# Build Output
bin/
obj/

# NuGet
*.nupkg
packages/

# Visual Studio
.vs/
.vscode/
publish/
TestResults/
*.suo
*.user

# Cake
/tools

/temp/
/dist/
*.pfx
core
core

# Local .NET SDK installations
.dotnet/
